.regularDeliveryPayInfo { position:relative; margin:0 0 30px; }
.regularDeliveryPayInfo > .title { margin:0 0 20px; font-size:12px; color:#353535; }
.regularDeliveryPayInfo .ec-base-box .information { display: flex; align-items: baseline; }
.regularDeliveryPayInfo .ec-base-box .information .title { height:24px; padding:0 15px 0 0; line-height:24px; font-size:12px; }
.regularDeliveryPayInfo .ec-base-box .information .status { position:relative; padding:0 15px; color:#2f8cce; }
.regularDeliveryPayInfo .ec-base-box .information .info { padding:13px 15px 0; color:#939393; line-height:1.5; }
.regularDeliveryPayInfo .ec-base-box .button { padding:0 0 0 10px; }
.regularDeliveryPayInfo .ec-base-box .button > .btnEm { padding:6px 10px; background:#4a5164; }
.regularDeliveryPayInfo .ec-base-box .button > .btnNormal { padding:6px 10px; border:1px solid #b4b4b4; }
.regularDeliveryPayInfo .ec-base-box:after { content:''; display:block; clear:both; }
.regularDeliveryPayInfo ul { margin:10px 0 0; color:#939393; line-height:1.5; }
.regularDeliveryPayInfo ul li { padding:0 0 0 9px; background: url(//img.echosting.cafe24.com/skin/base/common/ico_square2.gif) no-repeat 4px 7px; }
.regularDeliveryPayInfo .ec-base-tooltip { top:90px; right:25px; }
.regularDeliveryPayInfo .ec-base-tooltip p + p { margin:10px 0 0; }
.regularDeliveryPayInfo ul.cardList { display: flex; flex-direction: column; gap:10px; }
.regularDeliveryPayInfo ul.cardList .status { background:none; display: flex; align-items: center; gap:16px;}
.regularDeliveryPayInfo ul.cardList .cardInfo .cardNumber,
.regularDeliveryPayInfo ul.cardList .cardInfo .payMethod { margin:0 0 0 16px; }
.regularDeliveryPayInfo ul.cardList .button { padding:0; min-width: 192px; }
.regularDeliveryPayInfo ul.cardList.registed .status { justify-content: space-between; }

/********************* Desktop *********************/
@media all and (min-width:1025px) {
    .regularDeliveryPayInfo .ec-base-box .information .title { position:relative; }
    .regularDeliveryPayInfo .ec-base-box .information .title::after { content:''; display:block; position:absolute; top:50%; right:0; width:1px; height:20px; background:#E5E5E5; transform:translateY(-50%); }
}

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .regularDeliveryPayInfo ul.cardList { gap:0; }
    .regularDeliveryPayInfo .ec-base-box .information { padding-top:20px 16px; flex-direction:column; align-items: normal; }
    .regularDeliveryPayInfo .ec-base-box .information ul.cardList li.status { padding:20px 0; border-bottom: 1px solid #E5E5E5; }
    .regularDeliveryPayInfo ul.cardList .status { gap:0; padding:20px 0; }
    .regularDeliveryPayInfo ul.cardList .status .cardInfo { flex:1; }
    .regularDeliveryPayInfo ul.cardList .status .button { flex:1; min-width: auto; }
    .regularDeliveryPayInfo ul.cardList .status .button [class^='btn'] { display: block; }
    .regularDeliveryPayInfo ul.cardList.registed .status .cardNumber { display:none; }
    .regularDeliveryPayInfo ul.cardList.registed .status.done .cardNumber { display:inline-block; }
    .regularDeliveryPayInfo ul.cardList.registed .status.done { flex-direction: column; align-items: stretch; }
    .regularDeliveryPayInfo ul.cardList.registed .status.done .cardInfo { padding-bottom:20px;}
    .regularDeliveryPayInfo ul.cardList.registed .status.done .button { display:flex; }
    .regularDeliveryPayInfo ul.cardList.registed .status.done .button [class^='btn'] { flex:1; }
    .regularDeliveryPayInfo .ec-base-box .information .content { flex:1; }
}

