<footer id="footer" class="mf-ft">
	<div class="mf-ft__inner">
		<div class="mf-ft__logo">
			<a href="/"><img src="/svg/logo.svg" alt="MEDIFAB" width="117" height="28"></a>
		</div>
		<nav class="mf-ft__policy">
			<a href="/member/mall_agreement.html">이용약관</a>
			<a href="/member/privacy.html" class="mf-ft__privacy">개인정보처리방침</a>
			<a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=5818800448" target="_blank" rel="noopener">사업자정보확인</a>
			<a href="/shopinfo/company.html">회사소개</a>
		</nav>
		<div class="mf-ft__bottom" module="Layout_footer">
			<div class="mf-ft__cs">
				<p>{$phone1}</p>
				<p>AM 9:00 - PM 6:00 주말/ 공휴일 제외</p>
				<a href="mailto:contact@imedifab.com">contact@imedifab.com</a>
			</div>
			<div class="mf-ft__info">
				<p><span>상호명: {$company_name}</span><span>대표: {$president_name}</span></p>
				<p>주소: {$mall_zipcode} {$mall_addr1} {$mall_addr2}</p>
				<p><span>사업자등록번호: {$company_regno} <a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=5818800448" target="_blank" rel="noopener">[사업자정보확인]</a></span><span>통신판매업신고번호: {$network_regno}</span></p>
				<p><span>전화: {$phone1}</span><span>이메일: contact@imedifab.com</span></p>
				<p class="mf-ft__copy">©2026. MEDIFAB. All Rights Reserved.</p>
			</div>
		</div>
	</div>
</footer>
<!--#ez="1/1"-->
