<header id="header" class="mf-hd" data-ez="contents-08uul6g-1">
	<div class="mf-hd__inner">
		<div class="mf-hd__left">
			<div class="mf-hd__logo" module="Layout_LogoTop">
				<a href="/"><img src="svg/logo.svg" alt="MEDIFAB" width="134" height="32"></a>
			</div>
			<nav class="mf-hd__nav" aria-label="주 메뉴">
				<a href="/product/list.html" class="mf-hd__link">PRODUCTS</a>
				<a href="/board/free/list.html?board_no=1" class="mf-hd__link">ACADEMY</a>
			</nav>
		</div>

		<div class="mf-hd__util">
			<button type="button" class="mf-hd__link mf-hd__search-btn eSearch">
				<span class="mf-hd__search-ico" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11 19c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z"/><path stroke="currentColor" stroke-linejoin="round" stroke-width="1.5" d="M22 22l-5-5"/></svg></span>
				<span>SEARCH</span>
			</button>
			<a href="/myshop/index.html" class="mf-hd__link">ACCOUNT</a>
			<span module="Layout_orderBasketcount">
				<a href="/order/basket.html" class="mf-hd__link">CART(<span class="{$basket_count_class}">{$basket_count}</span>)</a>
			</span>
			<button type="button" class="mf-hd__menu eNavFold" aria-label="메뉴 열기">
				<span></span><span></span><span></span>
			</button>
		</div>
	</div>

	<div module="Layout_SearchHeader" class="mf-hd__search">
		<!--
			$product_page=/product/detail.html
			$category_page=/product/list.html
		-->
		<fieldset>
			<legend>검색</legend>
			<div class="wrap_search_box">
				<div class="search_find_product">Find Product</div>
				<div class="top_search_box">
					<button type="button" class="btnClose"><img src="/SkinImg/img/pc_search_close.svg" alt="닫기"></button>
					{$form.keyword}<button type="button" class="btnDelete">삭제</button><button type="button" class="btnSearch" onclick="{$action_search_submit}"><img src="/SkinImg/img/top_search.svg" alt="검색"></button><ul class="autoDrop" id="{$search_auto_id}"></ul>
				</div>
			</div>
		</fieldset>
	</div>
</header>
<!--#ez="1/1"-->
