<header id="header" class="mf-hd" data-ez="contents-08uul6g-1">
	<div class="mf-hd__inner">
		<div class="mf-hd__left">
			<div class="mf-hd__logo">
				<a href="/"><img src="/svg/logo.svg" alt="MEDIFAB" width="134" height="32"></a>
			</div>
			<nav class="mf-hd__nav" aria-label="주 메뉴">
				<a href="/product/list.html?cate_no=264" class="mf-hd__link">PRODUCTS</a>
				<a href="/board/free/list.html?board_no=5" class="mf-hd__link">ACADEMY</a>
			</nav>
		</div>

		<div class="mf-hd__util">
			<span module="Layout_orderBasketcount">
				<a href="/order/basket.html" class="mf-hd__link">CART(<span class="{$basket_count_class}">{$basket_count}</span>)</a>
			</span>
			<button type="button" class="mf-hd__link mf-hd__search-btn" data-search-open>
				<span class="mf-hd__search-ico" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11 19c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z"/><path stroke="currentColor" stroke-linejoin="round" stroke-width="1.5" d="M22 22l-5-5"/></svg></span>
				<span>SEARCH</span>
			</button>
			<a href="/myshop/index.html" class="mf-hd__link">ACCOUNT</a>
			<button type="button" class="mf-hd__menu eNavFold" aria-label="메뉴 열기">
				<span></span><span></span><span></span>
			</button>
		</div>
	</div>

	<div module="Layout_SearchHeader" class="mf-hd__search" id="mfSearch">
		<!--
			$product_page=/product/detail.html
			$category_page=/product/list.html
		-->
		<button type="button" class="mf-search__close btnClose" data-search-close aria-label="검색 닫기">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true"><path d="M6 6l12 12M18 6L6 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/></svg>
		</button>
		<div class="mf-search__panel">
			<fieldset>
				<legend>검색</legend>
				<div class="mf-search__field top_search_box">
					{$form.keyword}
					<button type="button" class="mf-search__submit btnSearch" onclick="{$action_search_submit}" aria-label="검색">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11 19c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z"/><path stroke="currentColor" stroke-linejoin="round" stroke-width="1.5" d="M22 22l-5-5"/></svg>
					</button>
					<ul class="autoDrop" id="{$search_auto_id}"></ul>
				</div>
				<div class="mf-search__hot">
					<p class="mf-search__hot-title">Most Searched</p>
					<div module="Search_HotKeyword" class="mf-search__tags">
						<a href="{$hot_keyword_search_url}">{$hot_keyword_name}</a>
						<a href="{$hot_keyword_search_url}">{$hot_keyword_name}</a>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</header>
<!--#ez="1/1"-->
